body {
    font-family: 'Segoe UI, Tahoma, sans-serif';
}

h1,
h2 {
    text-align: center;
}

/* Font-family demonstration to apply to multiple elements at once. */

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    /* small-caps font variant example: */
    font-variant: small-caps;
}

/* Paragraph */
p {
    color: navy;
}

/* NavBar */
nav {
    text-align: center;
    text-decoration: none;
}

/* Figure's (picture) caption */
figcaption {
    color: #032f0d;    
    background-color: #aef;
}

/* Class example */
.figcap {
    font-style: italic;
    font-size: 16pt;
    font-weight: bold;
}

.leftindent {
    /* text-indent: 5em; */
    padding-left: 5em;
}



/* >>> Styling to highlight block and inline elements differences */

#block1 {
    background-color: lightpink;
    text-align: center;
}

#sidenote1 {
    background-color: #ddd;      
}

#block2 {
    background-color: burlywood;
    text-align: center;
    display: inline;
}

#sidenote2 {
    background-color: #ddd;
    text-align: center;
    display: inline;
}

#sidenote3 {
    background-color: lightblue;
    text-align: center;
    display: inline;
    
}

/* _____________________________________________________*/

/* HYPERLINK - Changing default colors */

a {
    text-decoration: none;
    color: darkgreen;
}

a:active {
    color: #63f60a;
}

a:visited {
    color: #808080;
}

a:hover{                                        
    text-decoration: underline;
    font-weight: bold;

 }

/* ____________________________________ */

/* border color, style and width */
#sidenote4 {
    background-color: #ddd;
    display: inline;
    font-weight: bold;
    float: right;
    width: 100px;
    height: 50px;
    /* border-color: navy;
    border-style: solid;
    border-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px; */

    /* short hand to set border values */
    border: 2px solid navy;
    margin-top: 5px;
}

/* ____________________________________ */

/* div (page width) */

#pagewidth{
    width: 1200px;
}

/* ____________________________________ */

/* MEDIA QUERY */

@media only screen and (max-width: 500px) {
    body{
        background-color: lightgoldenrodyellow;
    }
}


/* ____________________________________ */

footer {
    text-align: center;
}

/* Class that can only be applied to table cells */
td.vbot {
    /* vbot: short for vertical bottom */
    vertical-align: bottom;
    height: 30px;

}



/* 

>>> CLASS <<<

A style that can be applied to any tag and can be used as many times as you want.
Classes start with a dot. Eg.: 

.sale{

}

________________________________________________________________

>>> ID <<<

Similar to a Class, but should be used once per page.

IDs start with a pound symbol. Eg.:

#sidenote{

}

________________________________________________________________

>>> PSEUDO CLASS <<<

A class that applies specifically to a tag

Eg.: "a tag" has several pseudo tags, such as "visited", "active" and "hover".
     a{
        text-decoration: none;
        
     }

     **Here's the pseudo class:
     a:hover{                                        
        text-decoration: underline;
        font-weight: bold;

     }

________________________________________________________________

>>> PSEUDO ID <<<

________________________________________________________________

>>> COLORS <<<

The two main ways to assign a color to elements are through 
naming a color or through using hexadecimal colors.

To avoid potential confusion with different browsers, it is 
recommended to use HEXADECIMAL notation for colors.

     >> HEXADECIMAL COLORS:
        
        Hexadecimal numbers: 
        #000000 #FFFFFF

        0 represents black while F represents white.
        The 6 values are actually in 3 pairs which signify 
        the amount of red, green, and blue used in the color.

        Eg.: #FF0000 - This represents:
             All red (FF), no green (00), and no blue(00).

             #00FF00 represents:

             No red (00), all green (FF), and no blue (00).

            #000088 represents:

            No red (00), no green (00), and HALF blue (88).

            It is also possible to abbreviate: 

            #F00, #0F0, #008, #fff, #000.

            Only if each pair has the same value.

            Any hexadecimal number with a mathing number of pairs 
            is a shade of gray.
            Eg.: #dddddd or #e0e0e0 or #303030 or #414141 or #727272 or #333333 or #444444 ...
            The closer to O is darker and the closer to F is lighter.

________________________________________________________________

>>> FONT STYLE, SIZE AND WEIGHT <<<
    
    >> FONT-STYLE:
        Offers a selection of style, such as italic, normal, oblique... 

    >> FONT-SIZE:    
        Sets how big or how small the text is going to be.

    >> FONT-WEIGHT:
        Controls the boldness level of text.
        A lot of browsers supports 400 and 700 as measures od boldness,
        but nothing else. The safest way to use it is to set 
        the font-weight as "bold".
        (**Words are more consistent than numbers across browsers 
        when it comes to font weights**).
________________________________________________________________

>>> LINK COLORS <<<

HYPERLINKS have default colors:

     > blue is the color of a hyperlink that has not been visited.
     > red is the color of an active hyperlink that has been clicked.
     > purple is the color of a visited hyperlink.

For this reason it is recommended to avoid using blue, red and purple 
as text colors as users could confuse this text with hyperlinks.
It is also possible though to change the hyperlinks default colors and 
use other ones.

________________________________________________________________

>>> FONT VARIANT<<<

Simply put, the font-variant property can change text to be in 
the Small Caps style, meaning lowercase letters are in a 
uppercase style with a slightly reduced size.

________________________________________________________________

>>> TEXT DECORATION <<<

This property in CSS deals with text being underlined or not.

________________________________________________________________

>>> INDENTATION <<<

Controls the first-line text indent in a multiline paragraph.
To indent the entire paragraph it is necessary to use padding.
________________________________________________________________

>>> LINE HEIGHT <<<

This property sets the height of individual lines within an 
element. 
________________________________________________________________

>>> WORD-WRAP <<<

It is a CSS property that tells the browser how to display long 
words that over extend their parent element.

________________________________________________________________

>>> LETTER-SPACING || WORD-SPACING <<<

    >> LETTER SPACING
        Sets to the space between characters in a word.

    >> WORD-SPACING
        Sets the space between words.

________________________________________________________________

>>> BORDER-COLOR <<<

Similar to setting text colors: with named color or hexadecimal color.
In order to see a border, at a minimum a border-style property needs to be set.

________________________________________________________________

>>> BORDER-STYLE <<<

Control the overall look of a border. This is another property that 
is recommended to be tested across browsers.
________________________________________________________________

>>> BORDER-WIDTH <<<

Most browsers will display a border without border-width being set.
By using the border-width property the appearance can determined 
by the developer and not by the browser.
________________________________________________________________

>>> BACKGROUNDS <<<

There are two main types of backgrounds: 
    one set using colors, or one set using an image or images.
________________________________________________________________

>>> DIV <<<

Div tag can be used to control the width of an entire page.
The more fixed the layout is, the less fluid it iss across multiple devices.
________________________________________________________________

>>> UNITS OF MEASURE <<<

There are several different units of measure to use for sizing, 
margins, padding, and anything else requiring a measurement.

    em -> relative measurement equivalent to the font size that 
          is in use. 
          Eg.: 3em would be 3 times the size of the current font
    ex -> A measurement relative to the heigh of the letter x.
    px -> A measurement of 1/96 of an inch or 0.26 millimeters
          (can vary based on screen size)
    pt -> A measurement that is 1/72 of an inch or 0.35 millimeters.

Ruler Measurements:

    cm -> Centimeters
    in -> Inches
    mm -> Millimeters 

________________________________________________________________

>>> VIEWPORT <<<

This sets the content to be the width of the device width, 
scaled to normal size. The viewport meta tag works well on pages 
to where do not have to have a lot of objects with a large fixed
width size. In other words, is better to not use this meta tag on 
a page with large pictures as they won't scale well to different 
devices. 

________________________________________________________________

>>> RESPONSIVE WEB DESIGN <<<

To design websites to be responsive to different devices, mainly desktops
or laptops, tablets, and smartphones. Webpages should display as best as
possible with a minimum amount of effort. 
One way to accomplish this is to add a meta tag with a viewport setting. 
________________________________________________________________

>>> MEDIA QUERY <<<

A fairly granular way to control how a website displays across 
devices, is to use a media query. A media query is simply added 
to a stylesheet, to where it checks for screen width, and changes 
changes styles according to that screen width. 
It is possible to have two completely different layouts in one 
stylesheet file, with the media query determining which set 
of styles is used.

________________________________________________________________

>>> PERCENTAGES AND PIXELS <<<

When controlling measurements of elements on pages, the key is 
to make sure widths of elements do not exceed the screen width 
of a device. The #1 annoyance for most viewers of a webpage is 
having to scroll left and right to view the page.
Setting a fixed pixel measurement on and element, or use 
percentages to create fluidity with the element size in relation 
to the screen size, are ways to avoid exceeding the screen width.

________________________________________________________________

>>> FRAMEWORKS and TEMPLATES <<<

A CSS framework is a template you create, or one that you can 
download for free or purchase from a third-party, that has built-in
CSS that can be used to ease in development of a website.

csszengarden.com

As with obtaining anything from the web, though, check for any 
licensing requirements and/or restrictions. 
________________________________________________________________

>>> MAX-WIDTH PROPERTY
________________________________________________________________


________________________________________________________________


________________________________________________________________


________________________________________________________________


________________________________________________________________


________________________________________________________________


________________________________________________________________

*/